# -------------------------
# Python
# -------------------------

__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Jupyter
# -------------------------

.ipynb_checkpoints/

# -------------------------
# Virtual environments
# -------------------------

.venv/
venv/
env/

# -------------------------
# VSCode
# -------------------------

.vscode/

# -------------------------
# Generated music files
# -------------------------

generated/
*.mid
*.midi
*.wav
*.mp3
*.flac

# -------------------------
# Python packaging
# -------------------------

build/
dist/
*.egg-info/

# -------------------------
# OS files
# -------------------------

.DS_Store
Thumbs.db

# -------------------------
# Streamlit
# -------------------------

.streamlit/secrets.toml

# -------------------------
# Environment variables
# -------------------------

.env